h1 {
  font-size: 25px;
}

.navbar-menu-button {
  background-size: 100%;
  background: url('../img/icons/ic_more_vert_black_24px.svg') no-repeat center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 25px;
  width: 25px;
}

.platform-android .popover, .popover {
  background-color: #BF681A;
}

.popover ion-content {
  background-color: transparent;
}

.popover .list {
  background-color: transparent;
}

.platform-android .popover .item, .popover .item {
  background-color: transparent;
  border: none;
  border-bottom: dashed 1px #F6F6E6;
  color: #F6F6E6;
  font-family: pacificoregular, "Times New Roman", serif;
}

.popover .item:last-child {
  border: 0;
}

.popover .item:hover {
  color: rgb(0, 200, 175);
}

ion-content {
  background-color: #F6F6E6;
}

.font {
  font-family: 'pacifico', serif;
  font-size: 2em;
  line-height: 1.5em;
}

.lapin-color {
  color: #BE6414;
}

.title {
  font-size: 1.5em;
}

.title-strip {
  font-size: 2em;
  line-height: 1.5em;
  font-family: 'pacifico', serif;
}

.grid-wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 23px;
  width: 100%;
}

.inline-center {
  text-align: center;
}

.block-center {
  margin: 0 auto;
}

.domain-thumbnail {
  display: inline-block;
  margin: 1vh 1vw;
}
