.popup-container > .popup-fullscreen {
    width: 100%;
    height: 100%;
}

.popup-fullscreen > .popup-body {
    height: 100%;
}

.pub-picture {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
