<ion-popover-view>
    <ion-content>

        <ul class="list">

            <li class="item" ui-sref="home">
                Accueil
            </li>

            <li class="item" ng-click="openLibraryLink()">
                Librairie
            </li>

            <li class="item" ng-show="showStoriesLink" ui-sref="stories({domain: domain })">
                Histoires
            </li>

            <li class="item" ui-sref="favorites">
                Favoris
            </li>

            <li class="item">
                Archives
            </li>

        </ul>

    </ion-content>
</ion-popover-view>
