<ion-popover-view>
    <ion-content>

        <div class="navbar-menu-popover">

            <div class="menu-popover-item" ng-click="openLibraryLink()">
                Librairie
            </div>

            <div class="menu-popover-item" ng-show="showStoriesLink" ui-sref="stories({domain: domain })">
                Histoires
            </div>

            <div class="menu-popover-item">
                <a href="#">Strips</a>
            </div>

            <div class="menu-popover-item" ui-sref="favorites()">
                Favoris
            </div>

            <div class="menu-popover-item">
                <a href="#">Archives</a>
            </div>

        </div>

    </ion-content>
</ion-popover-view>
